p {
  margin-bottom: 0 !important;
}

.img-tur {
  padding: 0px;
  width: 60px;
  vertical-align: top;
}

.val-pass {
  font-weight: bold;
  color: #78C2AD;
}

.val-fail {
  font-weight: bold;
  color: #F3969A;
}

.img-wtg {
  height: 50vh;
  /*display: flex;*/
  /*width: 100%;*/
  filter: grayscale(100%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-wtg:hover {
  filter: grayscale(0%);
}

.img-tur-nav {
  padding: 2px;
  width: 40px;
  vertical-align: top;
}

.img-infrastaq {
  padding: 2px;
  height: 40px;
  vertical-align: top;
}